<section id="fancy-form">
    <div class="container">
        <div class="form-sections">
            <div class="Form-left">
                <h1>About us</h1>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste tempore quia consequuntur recusandae inventore qui
                    libero iure corrupti autem adipisci, in cumque!
                    Quia voluptatibus quidem in sint blanditiis optio aperiam?</h6>
                <div class="line"></div>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste tempore quia consequuntur recusandae inventore qui
                    libero iure corrupti autem adipisci, in cumque!
                    Quia voluptatibus quidem in sint blanditiis optio aperiam?</h6>
                <div class="line"></div>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste tempore quia consequuntur recusandae inventore qui
                    libero iure corrupti autem adipisci, in cumque!
                    Quia voluptatibus quidem in sint blanditiis optio aperiam?</h6>
                <div class="line"></div>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste tempore quia consequuntur recusandae inventore qui
                    libero iure corrupti autem adipisci, in cumque!
                    Quia voluptatibus quidem in sint blanditiis optio aperiam?</h6>
                <div class="line"></div>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste tempore quia consequuntur recusandae inventore qui
                    libero iure corrupti autem adipisci, in cumque!
                    Quia voluptatibus quidem in sint blanditiis optio aperiam?</h6>
                <div class="line"></div>
            </div>

            <div class="Form-right">
                <h1>Contact Us</h1>
                <div class="line"></div>
                <form action="">
                    <h5>NAME</h5>
                    <input type="text"><br><br>
                    <h5>EMAIL</h5>
                    <input type="email"><br><br>
                    <h5>PHONE</h5>
                    <input type="number"><br><br>
                    <h5>YOUR MESSAGE</h5>
                    <textarea name="" id="" cols="50" rows="5"></textarea><br>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
</section>