<section id="pricing">
    <div class="container">
        <div class="price">
            <div>
                <h2 class="plan-heading">Sandwitch :)</h2>
                <h1>$10 <br><span class="rate"></span></h1>
                <br><br>
                <div class="plan-detail">
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                </div>
                <button class="plan-btn">Select Menu</button>
            </div>

            <div>
                <h2 class="plan-heading">Sandwitch :)</h2>
                <h1>$10 <br><span class="rate"></span></h1>
                <br><br>
                <div class="plan-detail">
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                </div>
                <button class="plan-btn">Select Menu</button>
            </div>

            <div>
                <h2 class="plan-heading">Sandwitch :)</h2>
                <h1>$10 <br><span class="rate"></span></h1>
                <br><br>
                <div class="plan-detail">
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                </div>
                <button class="plan-btn">Select Menu</button>
            </div>

            <div>
                <h2 class="plan-heading">Sandwitch :)</h2>
                <h1>$10 <br><span class="rate"></span></h1>
                <br><br>
                <div class="plan-detail">
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                    <h4>Maxican Sandwitch</h4>
                    <h4>Cheese Sandwitch</h4>
                    <h4>Alu matter Sandwitch</h4>
                </div>
                <button class="plan-btn">Select Menu</button>
            </div>


        </div>
    </div>
</section>