
<div class="view">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4">
          <strong>Today's Meal</strong>
        </h1>
        <p>
          <strong>Hamburger</strong>
        </p>
        <p class="mb-4 d-none d-md-block">
          <strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quidem autem enim,
            animi eius consequuntur numquam nobis recusandae adipisci deserunt
            illum culpa iste dignissimos provident architecto eaque.
            Temporibus odio similique illum.</strong>
        </p>
      </div>
    </div>
  </div>
  
  
    <div class="container">
      <section class="mt-5 fadeIn">
        <div class="row">
          <div class="col-md-6 mb-4">
            <img src="../assets/1.jpeg" class="img-fluid z-depth-1-half" alt="">
            <br><br><br>
            <img src="../assets/2.jpeg" class="img-fluid z-depth-1-half" alt="">
          </div>
          <div class="col-md-6 mb-4">
            <h3 class="h3 mb-3">Just for you</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Optio error ratione odio laboriosam qui nam accusantium veritatis deleniti
              nostrum ea? Corporis delectus nulla soluta architecto ratione quod dolorum culpa fuga?</p>
            <hr>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Optio error ratione odio laboriosam qui nam accusantium veritatis deleniti
              nostrum ea? Corporis delectus nulla soluta architecto ratione quod dolorum culpa fuga?</p>
            <hr>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Optio error ratione odio laboriosam qui nam accusantium veritatis deleniti
              nostrum ea? Corporis delectus nulla soluta architecto ratione quod dolorum culpa fuga?</p>
          </div>
        </div>
      </section>
  
      <hr class="my-5">
      <section>
        <h2 class="my-5 h3 text-center">Not enough?</h2>
        <div class="row mb-5 mt-3 wow fadeIn">
          <div class="col-md-4">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 flex-center">
            <img src="../assets/1.jpeg" class="z-depth-0 img-fluid">
            <br>
            <br>
            <img src="../assets/1.jpeg" class="z-depth-0 img-fluid">
            <br>
            <br>
            <img src="../assets/1.jpeg" class="z-depth-0 img-fluid">
          </div>
  
          <div class="col-md-4 mt-2">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aut quos officiis amet distinctio ratione fuga voluptates veritatis inventore,
                  autem neque, numquam omnis, sapiente esse eum illum tempore. Molestiae, ullam blanditiis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="mb-5">
    </div>
  
  <div class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4">
    <div class="pb-4">
      <a href="">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
      <a href="">
        <i class="fab fa-twitter mr-3"></i>
      </a>
      <a href="">
        <i class="fab fa-youtube mr-3"></i>
      </a>
      <a href="">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>
    </div>
    <div class="footer-copyright py-3">
      <a href="#">thedailymeal.com</a>
    </div>
    <div class="address">
      <p>Solution Analysts Pvt Ltd ,</p>
      <p> A-106, Sankalp Iconic Tower, </p>
      <p> Near Iscon Cross Road, Ambli - Bopal Road,</p>
      <p> Ahmedabad, Gujarat 380058.</p>
    </div>
  </div>